@import '/css/common.css';


#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
/* 
#about{
    height: 115vh;
    width: 100%;
} 
*/

#about .col-left{
    width: 300px;
    height: 350px;
}

#about .col-right{
    width: 100%;
    margin: 5%;
    margin-top: 20%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    
}
#about .col-right h3{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.3rem;

}


#about .cta{
    display: inline-block;
    padding: 10px 20px;
    color: rgb(151, 82, 96);
    text-transform: uppercase;
    font-size: 1.5rem;
    border: 2px solid crimson;
    letter-spacing: .2rem;
    /* margin-top: 30px; */
    transition: .35s ease-in-out background-color; 
    /* border-radius: 14% 0%; */
    background: transparent;
    margin:30px auto;
    
}

#about .cta:hover{
    background-color: rgb(216, 52, 85);
    color: rgb(255, 255, 255) ;  
}
#about .col-left .about-img{
    height: relative;
    margin: auto;
    border: 10px solid white;

    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    
    
}

#about .col-left .about-img::after{
    content: " ";
    position: absolute;
    left: -23px;
    top: 19px;
    height: 95%;
    width: 98%;
    border: 5px solid red;
    z-index: -1;
}
#about .col-left .about-img :hover
{
    cursor: pointer;
    
}

#about .cta:hover{
    transition: 0.5s;
}